.App {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
}

.game {
  border: 1px solid black;
  display: flex;
}

.symbol {
  max-width:100%;
  border: 5px solid white;
  width: 115px;
  height: 115px;
}

.symbol-win {
  max-width:100%;
  border: 5px solid red;
  width: 115px;
  height: 115px;
}

.animated-div {
  display: flex;
  flex-direction: column;
}